@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>MyView</title>
</head>
<body>
    Welcome to MVC learning! Something
</body>
</html>
